<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.octopus.mygamesbackend.service.mapper.ChatRoomRecordMapper">
    <insert id="addRecord">
        insert into t_chat_room_record(content, username, create_time)
        values(#{content}, #{username}, #{createTime})
    </insert>
    <select id="getHistoryRecords" resultType="com.octopus.mygamesbackend.business.pojo.dao.ChatRoomRecord">
        select content, username, create_time
        from t_chat_room_record
        where create_time >= (now() - interval 3 day)
        order by create_time
    </select>
</mapper>